* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  margin: 10px;
}
.left > img {
  width: 170px;
  height: 56.007;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 18px;
  padding-left: 5px;
  border-left: 1.5px solid grey;
}
nav ul li a {
  text-decoration: none;
  color: grey;
}
.loginimg {
  width: 20px;
  height: 20px;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: rgba(22, 20, 20, 0.658);
  text-align: center;
  background-image: url("img/bg.png");
  background-size: cover;
  background-position: center;
  min-height: 32vh;
}
.searchbutton {
  width: 20px;
  height: 20px;
}
